absl-py==1.0.0
attrs==21.4.0
bidict==0.22.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.0
colorama==0.4.4
comtypes==1.1.11
cycler==0.11.0
dnspython==2.2.1
Flask==2.1.0
Flask-Login==0.6.1
Flask-SocketIO==5.1.1
Flask-WTF==1.0.1
fonttools==4.32.0
gevent-websocket==0.10.1
greenlet==1.1.2
h11==0.13.0
idna==3.3
importlib-metadata==4.11.3
imutils==0.5.4
itsdangerous==2.1.2
Jinja2==3.1.1
kiwisolver==1.4.2
MarkupSafe==2.1.1
matplotlib==3.5.1
mediapipe==0.8.9.1
numpy==1.22.0
opencv-contrib-python==4.5.5.64
opencv-python==4.5.5.62
packaging==21.3
pandas==1.4.2
Pillow==9.0.0
protobuf==3.20.0
pycparser==2.21
PyJWT==2.3.0
pyparsing==3.0.8
pypiwin32==223
pyserial==3.5
python-dateutil==2.8.2
python-engineio==4.3.1
python-socketio==5.5.2
pyttsx3==2.90
pytz==2022.1
pywin32==303
requests==2.27.1
simple-websocket==0.5.1
six==1.16.0
twilio==7.8.0
urllib3==1.26.9
Werkzeug==2.1.0
wsproto==1.1.0
WTForms==3.0.1
XlsxWriter==3.0.2
zipp==3.7.0
zope.event==4.5.0
zope.interface==5.4.0
